* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
 }

:root {
    --cor-primaria: #2a2a2a;
    --cor-secundaria:#4b4b4b;
    --cor-terciaria: #f5f5f5;
    --cor-quaternaria: #000000;
}

body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    font-size: 350%
}

footer {
    margin-top: auto;
}

.exercicios {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    overflow: hidden;
}

.exercicio_Expecifico{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

img {
    width: 30%;
    height: 30%;
}


button {
    background-color:  var(--cor-secundaria);
    border-radius: 55px;
    padding: 1%;
    color: var(--cor-terciaria);
    width: 25vh;
    height: auto;
    font-size: 45%
}

button:hover {
    cursor: pointer;
    border-color:var(--cor-terciaria);
}

header {
    background-color: var(--cor-quaternaria);
    display: flex;
    flex-direction: column;
    font-size: 55%
}

input {
    width: 25vh;
    height: auto;
    border-radius: 25px;
    font-size: 3vh;
}

.titulo {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 3px 10px;
    height: 50%;
    align-items: center;
}

.titulo_navegaçao {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-quaternaria);
    
}

.titulo_navegaçao img {
    width: 7%;
    height: 7%;
    margin: 0.5% 15% 0 0;
    cursor: pointer;
}

.titulo_navegaçao a {
    margin: 0.5%;
    padding: 1%;
    color: var(--cor-terciaria);
    text-decoration: none;
    margin-left: 15%;
}

a:hover {
    border: 1px solid var(--cor-terciaria);
    border-radius: 15px;
}

.imputsmoedas {
    border: 2px solid var(--cor-secundaria);
    padding: 0.2%;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.imputsmoedas input {
    border: none;
    border-radius: 0%;
    border-right: 1px solid var(--cor-secundaria);
    padding-left: 3%;
    outline: none;
    height: 6vh;
    width: 45vh;
    font-size: 3vh;
}

.imputsmoedas select {
    border: none;
    height: 6vh;
    width: 45vh;
    font-size: 3vh;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select:hover {
    cursor: pointer;
    border: 2px solid var(--cor-terciaria);
}

input:hover {
    border: 2px solid var(--cor-terciaria);
}

.conteinerRespostas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    align-items: center;
}

.Resposta {
    border: var(--cor-terciaria) 1px solid;
    border-radius:  5px;
    padding: 0 40% 0 4%;
    width: 100%;
    height: 100%;
}

.Resposta:hover {
    transform: scale(1.2);
}

.conteinerPerguntasRespostas {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    overflow: hidden;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.formulario input {
    width: 45vh;
    height: 6vh;
    border-radius: 4%;
}

.exercicio-cronometro{
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
}

.conteiner-cronometro {
    border: 3px solid var(--cor-terciaria);
    border-radius: 50%;
    width: 30vh;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.conteiner-cronometro p {
    text-shadow: var(--cor-secundaria);
}

svg {
    cursor: pointer;
    width: 8vh;
    height: 7vh;
}

svg path {
    stroke: var(--cor-terciaria);
}

#botaoRecomecar path {
    fill: var(--cor-terciaria);
    stroke: none;
}

#botaoComecar path {
    width: 5vh;
    height: 5vh;
    overflow: hidden;
}

.conteiner-cronometro-botoes {
    display: flex;
    width: 25vh;
    height: 15vh;
}

.conteiner-cronometro-marcacao {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    border: 2px solid var(--cor-terciaria);
    border-radius: 15px;
    width: 25vh;
    height: auto;
    font-size: 50%;
}

.conteiner-Jogo-Da-Velha {
    border: 4px solid var(--cor-terciaria);
    width: 85vh;
    height: 52vh;
    display: flex;
    flex-direction: column;
    
}

.conteiner-Jogo-Da-Velha-row {
    display: flex;
    flex-direction: row;
     height: 100%;
}

.conteiner-Jogo-Da-Velha-row-Bloco {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1%;
    border: 3px solid var(--cor-terciaria);
    align-items: center;
    justify-content: center;
}

.conteiner-Jogo-Da-Velha-row-Bloco button {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border:none;
    background-color: var(--cor-primaria);
    font-size: 200%
}

.conteiner-Jogo-Da-Velha-row-Bloco:hover{
    border-color: var(--cor-secundaria);
}

.conteiner-calculadora {
    border: 2px solid var(--cor-terciaria);
    border-radius: 15px;
    width: 40vh;
    height: 50vh;
    font-size: 4vh;
}

.conteiner-calculadora-teclas {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--cor-terciaria);
    height: 80%;
}

.conteiner-calculadora-teclas div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--cor-terciaria);
    align-items: center;
    justify-content: space-around;
}

.conteiner-calculadora-teclas-espesifica {
    border: 1px solid var(--cor-terciaria);
}

.conteiner-calculadora-display {
    display: flex;
    height: 20%;
    align-items: center;
    justify-content:space-between;
    padding-right: 10%;
    padding-left: 5%;
}

.conteiner-calculadora-teclas p:hover {
    transform: scale(1.2);
}

@media (max-width: 600px) {
    html,  body {
        margin: 0;
        padding: 0;
        overflow-x: hidden; 
        width: 100%;
    }
    heder {
        gap: 20px;
    }
   .titulo {
        font-size: 60%;
   }
   .titulo p {
        display: none;
   }
   .titulo_navegaçao img {
        width: 25%;
        height: 25%;
   }
   .exercicios {
        font-size: 30%;
   }
   .exercicios button {
        font-size: 95%;
        width: auto;
   }
   .exercicios img {   
        width: 50%;
        height: 50%;
    }      
    .exercicio_Expecifico div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8%;
        height: 9vh;
    }
    .exercicio_Expecifico button {
        font-size: 100%;
        width: 100%;
        height: 50%;

    }
    .imputsmoedas {
        width: 90%;
    }
    .imputsmoedas select {
        width: 60%;
        font-size: 2vh;
    }
    .imputsmoedas input {
        width: 40%;
        font-size: 2vh;
    }
    #conteinerQuiz {
        width: 90%;
        font-size: 2vh;
    }
    .formulario{
        width: 90%;
        padding-left: 8%;
    }
    .formulario input{
        width: 100%;
        font-size: 2vh;
    }
    .formulario button {
        font-size: 2vh;
        width: 15vh;
        height: 6vh;
    }
    .exercicio-cronometro {
        flex-direction: column;
        gap: 3vh;
        font-size: 3vh;
    }
    .conteiner-cronometro p {
        font-size: 7vh;
    }
    .conteiner-Jogo-Da-Velha {
        width: 90%;
        height: 45vh;
    }
    .conteiner-Jogo-Da-Velha-row-Bloco button{
        width: 100%;
        height: 100%;
        font-size: 10vh;
    }

}     